* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem; /* 16px */
  line-height: 1.5;

  background-color: #0f1220;
  color: #e7e9f3;
}

button {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem; /* 16px */

  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #e7e9f3;
}

svg {
  width: 1em;
  height: 1em;

  fill: #e7e9f3;
}

ul {
  list-style-position: inside;
}

ul ul {
  margin-left: 1.5rem;
}

.container {
  width: 80%;
  max-width: 1024px;
  margin: 2rem auto;

  padding: 2rem;
  background-color: #121530;

  border: 1px solid #7f84a5;
  border-radius: 2rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 2rem;

  margin-bottom: 2rem;
}

.image {
  width: 120px;
  height: 120px;
  overflow: hidden;

  border: 2px solid #7f84a5;
  border-radius: 50%;

  flex-shrink: 0;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  margin-bottom: 1.5rem;
}

header > p {
  margin-bottom: 2.5rem;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  margin-bottom: 2.5rem;
}

.socials a {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  padding: 1.5rem;
  border: 1px solid #7f84a5;
  border-radius: 1rem;

  transition: filter 0.2s ease, transform 0.5s ease;
}

#toggle-welcome {
  font-weight: bold;

  border-radius: 1rem;
  padding: 1.2rem 1.5rem;
  margin-bottom: 1.5rem;

  background: linear-gradient(to right, #78a6f8, #5de8cc);
  box-shadow: 2px 2px 10px rgba(93, 232, 204, 0.4);

  transition: filter 0.2s, transform 0.5s;
}

.socials a:hover,
#toggle-welcome:hover {
  filter: brightness(0.9);
  transform: scale(1.1);
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.welcome p,
.bio,
.experience,
.education {
  padding: 1.5rem;

  background-color: #0f1531;

  border: 1px solid #7f84a5;
  border-radius: 1rem;
}

.welcome p {
  background-color: #1d2143;
  border-style: dashed;
}

.bio h2,
.experience h2,
.education h2 {
  margin-bottom: 1.5rem;
}

.experience span,
.education span {
  font-weight: bold;
}

footer {
  padding: 2rem;

  text-align: center;
  color: #7f84a5;
}

@media (max-width: 425px) {
  .profile {
    flex-direction: column;
    text-align: center;
  }
}

